<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToysForKids</title>
    @*------------Template--------------*@
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="~/css/HomeTemplate/elegant-icons.css" rel="stylesheet" />
    <link href="~/css/HomeTemplate/plyr.css" rel="stylesheet" />
    <link href="~/css/HomeTemplate/nice-select.css" rel="stylesheet" />
    <link href="~/css/HomeTemplate/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/HomeTemplate/slicknav.min.css" rel="stylesheet" />
    <link href="~/css/HomeTemplate/style.css" rel="stylesheet" />
</head>
<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <partial name="_Header" />
    <div>
        @RenderBody()
    </div>
    <partial name="_Footer" />
    @*---------Template-----------*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/js/HomeTemplate/player.js"></script>
    <script src="~/js/HomeTemplate/jquery.nice-select.min.js"></script>
    <script src="~/js/HomeTemplate/mixitup.min.js"></script>
    <script src="~/js/HomeTemplate/jquery.slicknav.js"></script>
    <script src="~/js/HomeTemplate/owl.carousel.min.js"></script>
    <script src="~/js/HomeTemplate/main.js"></script>
    @RenderSection("Scripts", false);
</body>
</html>
